 body  { 
  background-image: url("../img/12.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
 
} 
a{
 text-decoration: none;
 color:#fff;
 display:block;
 font-size:36px;
}

